Repository elastic/elastic-otel-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

operator/Dockerfile: bump chainguard-base image to latest
  operator/Dockerfile
Owners: @elastic/apm-agent-python

tests/opamp: make full state tests less flaky
  tests/opamp/test_e2e.py
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.8.0
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

tests/opamp: make full state tests less flaky (#393)
  tests/opamp/test_e2e.py
Owners: @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base image to latest (#392)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.8.0 (#394)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Update manual-instrumentation.md
  docs/reference/edot-python/setup/manual-instrumentation.md
Owners: @elastic/ingest-docs

Add overhead title tweak
  docs/reference/edot-python/overhead.md
Owners: @elastic/ingest-docs

Update manual-instrumentation.md (#395)
  docs/reference/edot-python/overhead.md
  docs/reference/edot-python/setup/manual-instrumentation.md
Owners: @elastic/ingest-docs

Fix default logging level
  src/elasticotel/distro/config.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Update configuration docs
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

distro: introduce handling of ELASTIC_OTEL_LOG_LEVEL
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/elasticotel/distro/environment_variables.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Add tests
  src/elasticotel/distro/config.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Please pyright
  src/elasticotel/distro/config.py
Owners: @elastic/apm-agent-python

Always set the logging level
  src/elasticotel/distro/config.py
Owners: @elastic/apm-agent-python

Update docs/reference/edot-python/configuration.md
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

Update docs/reference/edot-python/configuration.md
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

opamp: log transport send exception
  src/opentelemetry/_opamp/transport/requests.py
Owners: @elastic/apm-agent-python

distro: message handler should handle remote config decode exceptions
  src/elasticotel/distro/config.py
  src/opentelemetry/_opamp/messages.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Switch to OTEL_LOG_LEVEL
  docs/reference/edot-python/configuration.md
  src/elasticotel/distro/config.py
  src/elasticotel/distro/environment_variables.py
  tests/distro/test_distro.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Handle log level change from environment variable (#397)
  docs/reference/edot-python/configuration.md
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  tests/distro/test_distro.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

OpAMP improvements (#401)
  src/elasticotel/distro/config.py
  src/opentelemetry/_opamp/messages.py
  src/opentelemetry/_opamp/transport/requests.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

distro: log configuration variables at startup
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/elasticotel/distro/sanitization.py
  tests/distro/test_distro.py
  tests/distro/test_sanitization.py
Owners: @elastic/apm-agent-python

Add test for case and fix handling of values not urlencoded
  src/elasticotel/distro/sanitization.py
  tests/distro/test_sanitization.py
Owners: @elastic/apm-agent-python

Fixup tests after mis-merge
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Log configuration environment variables at startup (#398)
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/elasticotel/distro/sanitization.py
  tests/distro/test_distro.py
  tests/distro/test_sanitization.py
Owners: @elastic/apm-agent-python

docs/configuration: add missing applies_to to default configuration
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

Update configuration.md
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

docs/configuration: add missing applies_to to default configuration (#402)
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

operator/Dockerfile: bump chainguard-base hash to latest
  operator/Dockerfile
Owners: @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base hash to latest (#403)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

operator/requirements: bump openai instrumentation to latest 1.2.0
  operator/requirements.txt
Owners: @elastic/apm-agent-python

operator/requirements: bump openai instrumentation to latest 1.2.0 (#406)
  operator/requirements.txt
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.9.0
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

update CHANGELOG and bump version to 1.9.0 (#407)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Wire up composite sampler
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/elasticotel/sdk/sampler/__init__.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Lint
  src/elasticotel/distro/__init__.py
  src/elasticotel/sdk/sampler/__init__.py
Owners: @elastic/apm-agent-python

distro: handle ELASTIC_OTEL_OPAMP_HEADERS env var
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/environment_variables.py
  src/opentelemetry/_opamp/client.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Add docs
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

Update docs/reference/edot-python/configuration.md
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

.github/CODEOWNERS:

*  @elastic/apm-agent-python
/.github/actions/  @elastic/apm-agent-python @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-python @elastic/observablt-ci
*.md @elastic/ingest-docs 
/docs/ @elastic/ingest-docs
