Repository elastic/elastic-otel-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

Move computation inside _Job helpers so it's easier to test
  src/opentelemetry/_opamp/agent.py
  tests/opamp/test_agent.py
Owners: @elastic/apm-agent-python

Register atexit right after starting threads
  src/opentelemetry/_opamp/agent.py
Owners: @elastic/apm-agent-python

Add typecheck gh workflow job
  .github/workflows/ci.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

Move opamp handler to config module
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
Owners: @elastic/apm-agent-python

Add missing type annotations
  src/opentelemetry/_opamp/client.py
Owners: @elastic/apm-agent-python

Use absolute import
  src/opentelemetry/_opamp/transport/requests.py
Owners: @elastic/apm-agent-python

Add opamp client tests
  tests/opamp/test_client.py
Owners: @elastic/apm-agent-python

Use an opamp endpoint that would not work locally
  tests/opamp/test_e2e.py
Owners: @elastic/apm-agent-python

WIP more client work
  src/elasticotel/opamp/__init__.py
  src/elasticotel/opamp/client.py
Owners: @elastic/apm-agent-python

Encode also numbers and bools, cleanup AnyType aliases to match upstream
  src/opentelemetry/_opamp/agent.py
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/messages.py
Owners: @elastic/apm-agent-python

Empty requests transport implementation for opamp
  src/elasticotel/opamp/transport/requests.py
Owners: @elastic/apm-agent-python

Send AgentDisconnect message to server on exit
  src/opentelemetry/_opamp/agent.py
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/messages.py
Owners: @elastic/apm-agent-python

Fix agent attributes
  src/elasticotel/distro/__init__.py
  src/elasticotel/opamp/agent.py
Owners: @elastic/apm-agent-python

First batch of opamp agent tests
  src/opentelemetry/_opamp/agent.py
  tests/opamp/test_agent.py
Owners: @elastic/apm-agent-python

Make vcrpy 3.9+
  dev-requirements.txt
  pyproject.toml
Owners: @elastic/apm-agent-python

Get and forward client headers in the agent
  src/opentelemetry/_opamp/agent.py
Owners: @elastic/apm-agent-python

Add import patching of generated protobuf files to the script
  scripts/opamp_proto_codegen.sh
Owners: @elastic/apm-agent-python

More return types in client
  src/opentelemetry/_opamp/client.py
Owners: @elastic/apm-agent-python

Handle both text/json and application/json
  src/elasticotel/opamp/messages.py
Owners: @elastic/apm-agent-python

WIP manual patch of generated proto :(
  src/elasticotel/opamp/proto/opamp_pb2.py
Owners: @elastic/apm-agent-python

Cleanup agent interface
  src/opentelemetry/_opamp/agent.py
Owners: @elastic/apm-agent-python

More agent tests
  src/opentelemetry/_opamp/agent.py
  tests/opamp/test_agent.py
Owners: @elastic/apm-agent-python

Skeleton for opamp implementation
  src/elasticotel/opamp/README.md
  src/elasticotel/opamp/__init__.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Fix case of OpAMP in user agent
  src/opentelemetry/_opamp/client.py
Owners: @elastic/apm-agent-python

Add requests transport tests
  tests/opamp/transport/test_requests.py
Owners: @elastic/apm-agent-python

Rename agent handler to message_handler
  src/elasticotel/distro/__init__.py
  src/opentelemetry/_opamp/agent.py
Owners: @elastic/apm-agent-python

Handle logging level config option
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
Owners: @elastic/apm-agent-python

WIP transport
  src/elasticotel/opamp/transport/requests.py
Owners: @elastic/apm-agent-python

Rename e2e and add tests with server not responding
  tests/opamp/cassettes/test_connection_heartbeat_disconnection.yaml
  tests/opamp/test_e2e.py
Owners: @elastic/apm-agent-python

Use heartbeat consistently
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/messages.py
Owners: @elastic/apm-agent-python

Add pyright and fix typing
  pyproject.toml
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/elasticotel/opamp/agent.py
  src/elasticotel/opamp/client.py
  src/elasticotel/opamp/messages.py
Owners: @elastic/apm-agent-python

Make Job class private
  src/opentelemetry/_opamp/agent.py
Owners: @elastic/apm-agent-python

Wip requests transports
  src/elasticotel/opamp/transport/requests.py
Owners: @elastic/apm-agent-python

Fix wrong indentation
  src/elasticotel/distro/__init__.py
Owners: @elastic/apm-agent-python

WIP messages
  src/elasticotel/opamp/messages.py
Owners: @elastic/apm-agent-python

Lower http client timeout to 1 second
  src/opentelemetry/_opamp/client.py
Owners: @elastic/apm-agent-python

Move endpoint env var to the distro side and drop interval one
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/environment_variables.py
  src/opentelemetry/_opamp/environment_variables.py
Owners: @elastic/apm-agent-python

Move opamp client to a path that may resemble upstream
  pyproject.toml
  scripts/opamp_proto_codegen.sh
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/opentelemetry/_opamp/README.md
  src/opentelemetry/_opamp/__init__.py
  src/opentelemetry/_opamp/agent.py
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/environment_variables.py
  src/opentelemetry/_opamp/exceptions.py
  src/opentelemetry/_opamp/messages.py
  src/opentelemetry/_opamp/proto/anyvalue_pb2.py
  src/opentelemetry/_opamp/proto/anyvalue_pb2.pyi
  src/opentelemetry/_opamp/proto/opamp_pb2.py
  src/opentelemetry/_opamp/proto/opamp_pb2.pyi
  src/opentelemetry/_opamp/transport/base.py
  src/opentelemetry/_opamp/transport/exceptions.py
  src/opentelemetry/_opamp/transport/requests.py
  src/opentelemetry/_opamp/version.py
Owners: @elastic/apm-agent-python, @elastic/ingest-docs

Add missing license headers
  scripts/opamp_proto_codegen.sh
  src/elasticotel/distro/config.py
  src/opentelemetry/_opamp/agent.py
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/exceptions.py
  src/opentelemetry/_opamp/transport/exceptions.py
  src/opentelemetry/_opamp/version.py
  tests/opamp/cassettes/test_with_server_not_responding.yaml
  tests/opamp/conftest.py
  tests/opamp/test_agent.py
  tests/opamp/test_client.py
  tests/opamp/test_e2e.py
  tests/opamp/transport/test_requests.py
Owners: @elastic/apm-agent-python

Improve header license script
  scripts/license_headers_check.sh
Owners: @elastic/apm-agent-python

.github/CODEOWNERS:

*  @elastic/apm-agent-python
/.github/actions/  @elastic/apm-agent-python @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-python @elastic/observablt-ci
*.md @elastic/ingest-docs 
/docs/ @elastic/ingest-docs
