Repository elastic/elastic-otel-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

elasticotel: move to upstream opamp client
  dev-requirements.txt
  opamp-gen-requirements.txt
  pyproject.toml
  scripts/opamp_proto_codegen.sh
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/opentelemetry/_opamp/README.md
  src/opentelemetry/_opamp/__init__.py
  src/opentelemetry/_opamp/agent.py
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/exceptions.py
  src/opentelemetry/_opamp/messages.py
  src/opentelemetry/_opamp/proto/anyvalue_pb2.py
  src/opentelemetry/_opamp/proto/anyvalue_pb2.pyi
  src/opentelemetry/_opamp/proto/opamp_pb2.py
  src/opentelemetry/_opamp/proto/opamp_pb2.pyi
  src/opentelemetry/_opamp/transport/base.py
  src/opentelemetry/_opamp/transport/exceptions.py
  src/opentelemetry/_opamp/transport/requests.py
  src/opentelemetry/_opamp/version.py
  tests/distro/test_distro.py
  tests/opamp/cassettes/test_connection_remote_config_status_heartbeat_disconnection.yaml
  tests/opamp/cassettes/test_default_callbacks.yaml
  tests/opamp/test_agent.py
  tests/opamp/test_client.py
  tests/opamp/test_e2e.py
  tests/opamp/transport/test_requests.py
Owners: @elastic/apm-agent-python, @elastic/ingest-docs

Migrate docs workflows from preview-build to docs-actions
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-preview-cleanup.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

elasticotel: move to upstream opamp client (#512)
  dev-requirements.txt
  opamp-gen-requirements.txt
  pyproject.toml
  scripts/opamp_proto_codegen.sh
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/opentelemetry/_opamp/README.md
  src/opentelemetry/_opamp/__init__.py
  src/opentelemetry/_opamp/agent.py
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/exceptions.py
  src/opentelemetry/_opamp/messages.py
  src/opentelemetry/_opamp/proto/anyvalue_pb2.py
  src/opentelemetry/_opamp/proto/anyvalue_pb2.pyi
  src/opentelemetry/_opamp/proto/opamp_pb2.py
  src/opentelemetry/_opamp/proto/opamp_pb2.pyi
  src/opentelemetry/_opamp/transport/base.py
  src/opentelemetry/_opamp/transport/exceptions.py
  src/opentelemetry/_opamp/transport/requests.py
  src/opentelemetry/_opamp/version.py
  tests/distro/test_distro.py
  tests/opamp/cassettes/test_connection_remote_config_status_heartbeat_disconnection.yaml
  tests/opamp/cassettes/test_default_callbacks.yaml
  tests/opamp/test_agent.py
  tests/opamp/test_client.py
  tests/opamp/test_e2e.py
  tests/opamp/transport/test_requests.py
Owners: @elastic/apm-agent-python, @elastic/ingest-docs

Migrate docs workflows from preview-build to docs-actions (#514)
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-preview-cleanup.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

change Docker image to run as nonroot for k8s clusters restricting to runAsNonRoot
  operator/Dockerfile
  operator/Dockerfile.alpine
Owners: @elastic/apm-agent-python

also chown the copied files
  operator/Dockerfile.alpine
Owners: @elastic/apm-agent-python

change Docker image to run as nonroot for k8s clusters restricting to runAsNonRoot (#515)
  operator/Dockerfile
  operator/Dockerfile.alpine
Owners: @elastic/apm-agent-python

operator/README: note that these images install a local package
  operator/README.md
Owners: @elastic/ingest-docs

Bump to opentelemetry-opamp-client 0.2b0
  dev-requirements.txt
  pyproject.toml
  src/elasticotel/distro/config.py
  tests/opamp/test_e2e.py
Owners: @elastic/apm-agent-python

operator/README: note that these images install a local package (#516)
  operator/README.md
Owners: @elastic/ingest-docs

Bump to opentelemetry-opamp-client 0.2b0 (#517)
  dev-requirements.txt
  pyproject.toml
  src/elasticotel/distro/config.py
  tests/opamp/test_e2e.py
Owners: @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base to latest
  operator/Dockerfile
Owners: @elastic/apm-agent-python

update CHANGELOG and bump to 1.12.0
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Apply suggestion from @xrmx
  CHANGELOG.md
Owners: @elastic/ingest-docs

Apply suggestions from code review
  CHANGELOG.md
  docs/release-notes/index.md
Owners: @elastic/ingest-docs

operator/Dockerfile: bump chainguard-base to latest (#525)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

update CHANGELOG and bump to 1.12.0 (#526)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

elasticotel: load resource detector as last
  docs/reference/edot-python/configuration.md
  src/elasticotel/distro/__init__.py
  tests/distro/test_distro.py
  tests/integration/test_integration.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

ci(docs): scope pull_request triggers to integration branches
  .github/workflows/docs-build.yml
  .github/workflows/docs-preview-cleanup.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

ci(docs): scope pull_request triggers to integration branches (#538)
  .github/workflows/docs-build.yml
  .github/workflows/docs-preview-cleanup.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

distro: fix typechecking warning
  src/elasticotel/distro/config.py
Owners: @elastic/apm-agent-python

distro: fix typechecking warning (#539)
  src/elasticotel/distro/config.py
Owners: @elastic/apm-agent-python

Bump OpenTelemetry SDK to 1.41.1/0.62b1
  .github/workflows/ci.yml
  README.md
  dev-requirements.txt
  operator/requirements.txt
  pyproject.toml
  src/elasticotel/distro/config.py
  src/elasticotel/sdk/trace/tracer_configurator.py
  tests/distro/test_distro.py
  tests/integration/test_integration.py
Owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

elasticotel: checks for rule changes on a different api
  src/elasticotel/distro/config.py
  src/elasticotel/sdk/trace/tracer_configurator.py
Owners: @elastic/apm-agent-python

Bump GCP resource detector to latest
  dev-requirements.txt
  docs/reference/edot-python/configuration.md
  pyproject.toml
  src/elasticotel/distro/resource_detectors.py
  tests/distro/test_distro.py
  tests/distro/test_resource_detectors.py
Owners: @elastic/apm-agent-python, @elastic/ingest-docs

docs: drop removed boto instrumentation from documentation
  docs/reference/edot-python/supported-technologies.md
Owners: @elastic/ingest-docs

Apply suggestion from @xrmx
  src/elasticotel/sdk/trace/tracer_configurator.py
Owners: @elastic/apm-agent-python

Bump OpenTelemetry SDK to 1.41.1/0.62b1 (#546)
  .github/workflows/ci.yml
  README.md
  dev-requirements.txt
  docs/reference/edot-python/supported-technologies.md
  operator/requirements.txt
  pyproject.toml
  src/elasticotel/distro/config.py
  src/elasticotel/sdk/trace/tracer_configurator.py
  tests/distro/test_distro.py
  tests/integration/test_integration.py
Owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

Bump GCP resource detector to latest (#547)
  dev-requirements.txt
  docs/reference/edot-python/configuration.md
  pyproject.toml
  src/elasticotel/distro/resource_detectors.py
  tests/distro/test_distro.py
  tests/distro/test_resource_detectors.py
Owners: @elastic/apm-agent-python, @elastic/ingest-docs

operator/Dockerfile: bump chainguard-base image to latest
  operator/Dockerfile
Owners: @elastic/apm-agent-python

Update CHANGELOG and bump version to 1.13.0
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

distro: handle opentelemetry-instrumentation-logging LoggingHandler as the sdk one
  dev-requirements.txt
  pyproject.toml
  src/elasticotel/distro/config.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Please pyright
  src/elasticotel/distro/config.py
Owners: @elastic/apm-agent-python

nox: add typecheck session to run pyright
  noxfile.py
Owners: @elastic/apm-agent-python

Add #552 to changelog and release notes as well
  CHANGELOG.md
  docs/release-notes/index.md
Owners: @elastic/ingest-docs

operator/Dockerfile: bump chainguard-base image to latest (#549)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

distro: handle opentelemetry-instrumentation-logging LoggingHandler as the sdk one (#552)
  dev-requirements.txt
  pyproject.toml
  src/elasticotel/distro/config.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

nox: add typecheck session to run pyright (#553)
  noxfile.py
Owners: @elastic/apm-agent-python

Update CHANGELOG and bump version to 1.13.0 (#550)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Apply suggestions from code review
  dev-requirements.txt
  pyproject.toml
Owners: @elastic/apm-agent-python

.github/CODEOWNERS:

*  @elastic/apm-agent-python
/.github/actions/  @elastic/apm-agent-python @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-python @elastic/observablt-ci
*.md @elastic/ingest-docs 
/docs/ @elastic/ingest-docs
