Repository elastic/elastic-otel-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

Bump OpenTelemetry SDK to 1.42.1/0.63b1
  .github/workflows/ci.yml
  README.md
  dev-requirements.txt
  docs/reference/edot-python/configuration.md
  docs/reference/edot-python/supported-technologies.md
  operator/requirements.txt
  pyproject.toml
  tests/integration/test_integration.py
Owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

Bump OpenTelemetry SDK to 1.42.1/0.63b1 (#572)
  .github/workflows/ci.yml
  README.md
  dev-requirements.txt
  docs/reference/edot-python/configuration.md
  docs/reference/edot-python/supported-technologies.md
  operator/requirements.txt
  pyproject.toml
  tests/integration/test_integration.py
Owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

Apply suggestions from code review
  src/elasticotel/distro/__init__.py
Owners: @elastic/apm-agent-python

docs: update supported instrumentations table
  docs/reference/edot-python/supported-technologies.md
Owners: @elastic/ingest-docs

elasticotel: load resource detector as last (#532)
  docs/reference/edot-python/configuration.md
  src/elasticotel/distro/__init__.py
  tests/distro/test_distro.py
  tests/integration/test_integration.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base hash to latest ce1e3ed
  operator/Dockerfile
Owners: @elastic/apm-agent-python

Bump to 43b89c8
  operator/Dockerfile
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.14.0
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

docs: update supported instrumentations table (#573)
  docs/reference/edot-python/supported-technologies.md
Owners: @elastic/ingest-docs

operator/Dockerfile: bump chainguard-base hash to latest 43b89c8 (#579)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.14.0 (#580)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Bump OpenTelemetry SDK to 1.43.0/0.64b0
  README.md
  dev-requirements.txt
  operator/requirements.txt
  pyproject.toml
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

elasticotel: use upstream service.instance.id resource detector
  pyproject.toml
  src/elasticotel/sdk/resources/__init__.py
  tests/integration/test_integration.py
  tests/resources/test_resources.py
Owners: @elastic/apm-agent-python

Bump OpenTelemetry SDK to 1.43.0/0.64b0 (#587)
  README.md
  dev-requirements.txt
  operator/requirements.txt
  pyproject.toml
  src/elasticotel/sdk/resources/__init__.py
  tests/integration/test_integration.py
  tests/resources/test_resources.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Bump opentelemetry-opamp-client to 0.3b0
  dev-requirements.txt
  pyproject.toml
Owners: @elastic/apm-agent-python

Bump opentelemetry-opamp-client to 0.3b0 (#588)
  dev-requirements.txt
  pyproject.toml
Owners: @elastic/apm-agent-python

docs: rename EDOT to Elastic OTel Python for 9.5 rebrand
  docs/docset.yml
  docs/reference/edot-python/configuration.md
  docs/reference/edot-python/index.md
  docs/reference/edot-python/migration.md
  docs/reference/edot-python/overhead.md
  docs/reference/edot-python/setup/index.md
  docs/reference/edot-python/setup/k8s.md
  docs/reference/edot-python/setup/manual-instrumentation.md
  docs/reference/edot-python/supported-technologies.md
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
Owners: @elastic/ingest-docs

operator/Dockerfile: bump chainguard-base to 2af89d6
  operator/Dockerfile
Owners: @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base to 2af89d6 (#597)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

update CHANGELOG and bump to 1.15.0
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

update CHANGELOG and bump to 1.15.0 (#598)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Bump opentelemetry-resourcedetector-gcp to latest
  dev-requirements.txt
  pyproject.toml
Owners: @elastic/apm-agent-python

Bump opentelemetry-resourcedetector-gcp to latest (#607)
  dev-requirements.txt
  pyproject.toml
Owners: @elastic/apm-agent-python

Bump OpenTelemetry SDK to 1.44.0/0.65b0
  README.md
  dev-requirements.txt
  operator/requirements.txt
  pyproject.toml
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

tests/integrations: stop using the deprecated log events API
  tests/integration/test_integration.py
  tests/integration/utils.py
Owners: @elastic/apm-agent-python

docs: update supported technologies
  docs/reference/edot-python/supported-technologies.md
Owners: @elastic/ingest-docs

Bump OpenTelemetry SDK to 1.44.0/0.65b0 (#616)
  README.md
  dev-requirements.txt
  docs/reference/edot-python/supported-technologies.md
  operator/requirements.txt
  pyproject.toml
  tests/integration/test_integration.py
  tests/integration/utils.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

pre-commit: bump ruff to 0.16.3
  .pre-commit-config.yaml
Owners: @elastic/apm-agent-python

Run updated ruff check
  docs/reference/edot-python/setup/manual-instrumentation.md
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/elasticotel/distro/sanitization.py
  src/elasticotel/instrumentation/bootstrap.py
  src/elasticotel/sdk/resources/__init__.py
  src/elasticotel/sdk/sampler/__init__.py
  src/elasticotel/sdk/trace/tracer_configurator.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Bump ruff baseline to Python 3.10
  pyproject.toml
  src/elasticotel/sdk/sampler/__init__.py
Owners: @elastic/apm-agent-python

Fine tune some changes manually
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
Owners: @elastic/apm-agent-python

Run checks also on tests
  tests/distro/test_distro.py
  tests/integration/test_integration.py
  tests/integration/utils.py
  tests/opamp/test_e2e.py
  tests/resources/test_resources.py
Owners: @elastic/apm-agent-python

Run also over scripts
  noxfile.py
  scripts/build_edot_bootstrap_instrumentations.py
Owners: @elastic/apm-agent-python

Also examples
  examples/openai/embeddings.py
Owners: @elastic/apm-agent-python

Bump pre-commit ruff to 0.16.3 (#617)
  .pre-commit-config.yaml
  docs/reference/edot-python/setup/manual-instrumentation.md
  examples/openai/embeddings.py
  noxfile.py
  pyproject.toml
  scripts/build_edot_bootstrap_instrumentations.py
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/elasticotel/distro/sanitization.py
  src/elasticotel/instrumentation/bootstrap.py
  src/elasticotel/sdk/resources/__init__.py
  src/elasticotel/sdk/sampler/__init__.py
  src/elasticotel/sdk/trace/tracer_configurator.py
  tests/distro/test_distro.py
  tests/integration/test_integration.py
  tests/integration/utils.py
  tests/opamp/test_e2e.py
  tests/resources/test_resources.py
Owners: @elastic/apm-agent-python, @elastic/ingest-docs

operator/Dockerfile: bump chainguard-base to 667b045
  operator/Dockerfile
Owners: @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base to 667b045 (#619)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base to e8b23e9
  operator/Dockerfile
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.16.0
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base to e8b23e9 (#626)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

.github/CODEOWNERS:

*  @elastic/apm-agent-python
/.github/actions/  @elastic/apm-agent-python @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-python @elastic/observablt-ci
*.md @elastic/ingest-docs 
/docs/ @elastic/ingest-docs
