Repository elastic/elastic-otel-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

Handle ELASTIC_OTEL_OPAMP_HEADERS env var (#411)
  docs/reference/edot-python/configuration.md
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/environment_variables.py
  src/opentelemetry/_opamp/client.py
  tests/distro/test_distro.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

feat: add FastAPI example application with Docker
  examples/fastapi/Dockerfile
  examples/fastapi/README.md
  examples/fastapi/app.py
Owners: @elastic/apm-agent-python, @elastic/ingest-docs

typo fix README
  examples/fastapi/README.md
Owners: @elastic/ingest-docs

chore: add copyright notice to FastAPI example application
  examples/fastapi/app.py
Owners: @elastic/apm-agent-python

docs/migration: fix global labels docs
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

feat: add FastAPI example application with Docker (#413)
  examples/fastapi/Dockerfile
  examples/fastapi/README.md
  examples/fastapi/app.py
Owners: @elastic/apm-agent-python, @elastic/ingest-docs

Make edot sampler default but not forced
  pyproject.toml
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/elasticotel/sdk/sampler/__init__.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Cleanup
  src/elasticotel/distro/config.py
Owners: @elastic/apm-agent-python

docs/migration: fix global labels docs (#414)
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

Run tests under nox
  .github/workflows/ci.yml
  CONTRIBUTING.md
  noxfile.py
Owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

Set an environment variable so that tests knows they are run in nox
  noxfile.py
Owners: @elastic/apm-agent-python

Pass posargs instead of creating an integration tests session
  CONTRIBUTING.md
  noxfile.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

update workflows
  .github/workflows/ci.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

Run tests under nox (#415)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  noxfile.py
Owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

Apply suggestions from code review
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Wire up composite sampler (#410)
  pyproject.toml
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/elasticotel/sdk/sampler/__init__.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

opamp: extend client for mTLS
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/transport/base.py
  src/opentelemetry/_opamp/transport/requests.py
  tests/opamp/test_client.py
  tests/opamp/transport/test_requests.py
Owners: @elastic/apm-agent-python

Add documentation
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

distro: get mTLS configuration from env vars
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/environment_variables.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Aplly feedback from review
  tests/opamp/transport/test_requests.py
Owners: @elastic/apm-agent-python

Add support for mTLS authentication with OpAMP (#419)
  docs/reference/edot-python/configuration.md
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/environment_variables.py
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/transport/base.py
  src/opentelemetry/_opamp/transport/requests.py
  tests/distro/test_distro.py
  tests/opamp/test_client.py
  tests/opamp/transport/test_requests.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

docs: update default sampler configuration
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

docs: update default sampler configuration (#420)
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

docs/reference/migration: add more options that have counterparts in OTel
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

Fix typos
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

Always wrap otel env var with _ as code
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

Apply suggestions from code review
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

Apply suggestions from code review
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

docs: update migration guide (#423)
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

operator/Dockerfile: bump chainguard-base image to latest
  operator/Dockerfile
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.10.0
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Rename attribute
  docs/reference/edot-python/setup/index.md
Owners: @elastic/ingest-docs

Update Dockerfiles
  examples/fastapi/Dockerfile
  examples/flask/Dockerfile
Owners: @elastic/apm-agent-python

Rename attribute (#427)
  docs/reference/edot-python/setup/index.md
  examples/fastapi/Dockerfile
  examples/flask/Dockerfile
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base image to latest (#425)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.10.0 (#426)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

elasticotel/distro: accept warning also
  src/elasticotel/distro/config.py
Owners: @elastic/apm-agent-python

docs: Drop stale note
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

elasticotel/distro: try harder to print the EDOT configuration at startup
  src/elasticotel/distro/config.py
  tests/integration/test_integration.py
Owners: @elastic/apm-agent-python

Try harder to dump the EDOT configuration at startup (#431)
  docs/reference/edot-python/configuration.md
  src/elasticotel/distro/config.py
  tests/integration/test_integration.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

.github/CODEOWNERS:

*  @elastic/apm-agent-python
/.github/actions/  @elastic/apm-agent-python @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-python @elastic/observablt-ci
*.md @elastic/ingest-docs 
/docs/ @elastic/ingest-docs
