Repository elastic/elastic-otel-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

.github/CODEOWNERS:

*  @elastic/apm-agent-python
/.github/actions/  @elastic/apm-agent-python @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-python @elastic/observablt-ci
*.md @elastic/ingest-docs 
/docs/ @elastic/ingest-docs

update CHANGELOG and bump version to 1.10.1
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

update CHANGELOG and bump version to 1.10.1 (#434)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Fix logging without a tty
  src/elasticotel/distro/config.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Fix logging without a tty (#436)
  src/elasticotel/distro/config.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base image to latest 2b179e1
  operator/Dockerfile
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.10.2
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

dev-requirements: bump urllib3 to 2.6.0
  dev-requirements.txt
Owners: @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base image to latest 2b179e1 (#438)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

dev-requirements: bump urllib3 to 2.6.0 (#440)
  dev-requirements.txt
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.10.2 (#439)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

github-actions: notify if failures on main
  .github/workflows/ci.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

run weekly
  .github/workflows/ci.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

docker: use python:3.12-alpine3.22
  operator/Dockerfile.alpine
Owners: @elastic/apm-agent-python

github-actions: notify if failures on main (#450)
  .github/workflows/ci.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

docker: use python:3.12-alpine3.22 (#452)
  operator/Dockerfile.alpine
Owners: @elastic/apm-agent-python

Bump OpenTelemetry SDK to 1.38.0/0.59b0
  README.md
  dev-requirements.txt
  operator/requirements.txt
  pyproject.toml
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Bump OpenTelemetry SDK to 1.38.0/0.59b0 (#454)
  README.md
  dev-requirements.txt
  operator/requirements.txt
  pyproject.toml
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Bump OpenTelemetry SDK to 1.39.1/0.60b1
  README.md
  dev-requirements.txt
  operator/requirements.txt
  pyproject.toml
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Bump OpenTelemetry SDK to 1.39.1/0.60b1 (#455)
  README.md
  dev-requirements.txt
  operator/requirements.txt
  pyproject.toml
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

update CHANGELOG and bump version to 1.11.0
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

update CHANGELOG and bump version to 1.11.0 (#456)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Add TLS notes and settings
  docs/reference/edot-python/configuration.md
  docs/reference/edot-python/supported-technologies.md
Owners: @elastic/ingest-docs

Consistent terminology
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

Add TLS notes and settings (#457)
  docs/reference/edot-python/configuration.md
  docs/reference/edot-python/supported-technologies.md
Owners: @elastic/ingest-docs

operator/Dockerfile: no need to install build tools on musl
  operator/Dockerfile
Owners: @elastic/apm-agent-python

operator/Dockerfile: no need to install build tools on musl (#462)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

docs: document http headers capturing and sanitization
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

Apply suggestions from code review
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

Update docs/reference/edot-python/configuration.md
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

docs: document http headers capturing and sanitization (#463)
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

Update applies_to with a range
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

Update applies_to with a range (#466)
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

chore: delete SECURITY.md to use organization-wide policy
  SECURITY.md
Owners: @elastic/ingest-docs

chore: delete SECURITY.md to use organization-wide policy (#467)
  SECURITY.md
Owners: @elastic/ingest-docs

github-action: add artifact-metadata permission for attestations
  .github/workflows/release.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

github-action: add artifact-metadata permission for attestations (#468)
  .github/workflows/release.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

Disable default cache usage in release workflow
  .github/workflows/release.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

Add Vale docs linting support
  .github/workflows/docs-build.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

Add Vale docs linting support (#473)
  .github/workflows/docs-build.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

Update configuration.md
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs
