Repository elastic/elastic-otel-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

.github/CODEOWNERS:

*  @elastic/apm-agent-python
/.github/actions/  @elastic/apm-agent-python @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-python @elastic/observablt-ci
*.md @elastic/ingest-docs 
/docs/ @elastic/ingest-docs

update CHANGELOG and bump version to 1.16.0 (#627)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Remove stale EDOT agent-skill callouts dropped in agent-skills v0.6.0
  docs/reference/edot-python/setup/index.md
Owners: @elastic/ingest-docs

Remove stale EDOT agent-skill callouts dropped in agent-skills v0.6.0
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

Retarget EDOT skill callouts to observability-onboarding
  docs/reference/edot-python/setup/index.md
Owners: @elastic/ingest-docs

Retarget EDOT skill callouts to observability-onboarding
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

Use GitHub tree URLs for EDOT skill callouts
  docs/reference/edot-python/setup/index.md
Owners: @elastic/ingest-docs

Use GitHub tree URLs for EDOT skill callouts
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

Retarget agent-skill callouts to observability/onboarding
  docs/reference/edot-python/migration.md
  docs/reference/edot-python/setup/index.md
Owners: @elastic/ingest-docs

Retarget EDOT Python agent-skill callouts to observability-onboarding (#634)
  docs/reference/edot-python/migration.md
  docs/reference/edot-python/setup/index.md
Owners: @elastic/ingest-docs

docs/migration: aiobotocore and structlog have instrumentations
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

Fix handling of OTEL_EXPORTER_OTLP_*HEADERS
  src/elasticotel/distro/__init__.py
  tests/integration/test_integration.py
Owners: @elastic/apm-agent-python

Fix handling of OTEL_EXPORTER_OTLP_*HEADERS (#645)
  src/elasticotel/distro/__init__.py
  tests/integration/test_integration.py
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.16.1
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

update CHANGELOG and bump version to 1.16.1 (#646)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base image to 5225ad
  operator/Dockerfile
Owners: @elastic/apm-agent-python

Bump opamp-client to 0.4b0
  dev-requirements.txt
  pyproject.toml
Owners: @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base image to 5225ad (#649)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

Bump opamp-client to 0.4b0 (#650)
  dev-requirements.txt
  pyproject.toml
Owners: @elastic/apm-agent-python

docs/migration: aiobotocore and structlog have instrumentations (#640)
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

update CHANGELOG and bump version to 1.17.0
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

update CHANGELOG and bump version to 1.17.0 (#651)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python
