Repository elastic/elastic-otel-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

Update configuration.md
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

Disable default cache usage in release workflow (#471)
  .github/workflows/release.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

Update migration documentation to clarify resource attributes handling with the EDOT Collector
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

Update migration documentation to clarify resource attributes handling with the EDOT Collector (#475)
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

Apply suggestion from @xrmx
  operator/Dockerfile
Owners: @elastic/apm-agent-python

Bump chainguard-base image to 17c8370b3344 (#469)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

Update k8s.md
  docs/reference/edot-python/setup/k8s.md
Owners: @elastic/ingest-docs

Update k8s.md (#480)
  docs/reference/edot-python/setup/k8s.md
Owners: @elastic/ingest-docs

operator/Dockerfile.alpine: drop build tools install
  operator/Dockerfile.alpine
Owners: @elastic/apm-agent-python

operator/Dockerfile.alpine: drop build tools install (#482)
  operator/Dockerfile.alpine
Owners: @elastic/apm-agent-python

docs/supported-technologies: fix rendering in the instrumentations table
  docs/reference/edot-python/supported-technologies.md
Owners: @elastic/ingest-docs

Bump dev-requirements
  dev-requirements.txt
Owners: @elastic/apm-agent-python

Bump dev-requirements (#483)
  dev-requirements.txt
Owners: @elastic/apm-agent-python

docs/supported-technologies: fix rendering in the instrumentations table (#481)
  docs/reference/edot-python/supported-technologies.md
Owners: @elastic/ingest-docs

Migrate actions/attest-build-provenance to actions/attest@v4.1.0 (#491)
  .github/workflows/release.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

Apply suggestions from code review
  .github/workflows/release.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

chore: migrate `actions/attest-build-provenance@v3` to `actions/attest@v4` (#490)
  .github/workflows/release.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

Bump OpenTelemetry SDK to 1.40.0/0.61b0
  README.md
  dev-requirements.txt
  docs/reference/edot-python/supported-technologies.md
  operator/requirements.txt
  pyproject.toml
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

github-action: include the dependabot section for pre-commit
  .github/dependabot.yml
Owners: @elastic/apm-agent-python

Apply suggestion from @v1v
  .github/dependabot.yml
Owners: @elastic/apm-agent-python

Revise logging auto-instrumentation configuration
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

docs: Fix typo in overhead
  docs/reference/edot-python/overhead.md
Owners: @elastic/ingest-docs

Fix integration tests after the introducition of sdk metrics
  tests/integration/test_integration.py
Owners: @elastic/apm-agent-python

Vale documentation feedback
  docs/reference/edot-python/configuration.md
Owners: @elastic/ingest-docs

docs: Fix typo in overhead (#500)
  docs/reference/edot-python/overhead.md
Owners: @elastic/ingest-docs

Bump OpenTelemetry SDK to 1.40.0/0.61b0 (#499)
  README.md
  dev-requirements.txt
  docs/reference/edot-python/configuration.md
  docs/reference/edot-python/supported-technologies.md
  operator/requirements.txt
  pyproject.toml
  tests/integration/test_integration.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Add agent-skill callouts for EDOT Python setup and migration.
  docs/reference/edot-python/migration.md
  docs/reference/edot-python/setup/index.md
Owners: @elastic/ingest-docs

Update migration.md
  docs/reference/edot-python/migration.md
Owners: @elastic/ingest-docs

Update index.md
  docs/reference/edot-python/setup/index.md
Owners: @elastic/ingest-docs

docs: add EDOT Python agent-skill body text
  docs/reference/edot-python/migration.md
  docs/reference/edot-python/setup/index.md
Owners: @elastic/ingest-docs

docs: add EDOT Python v0.1.1 agent-skill callouts (#507)
  docs/reference/edot-python/migration.md
  docs/reference/edot-python/setup/index.md
Owners: @elastic/ingest-docs

Add handling for disable_instrumentations
  docs/reference/edot-python/configuration.md
  pyproject.toml
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/elasticotel/sdk/trace/__init__.py
  src/elasticotel/sdk/trace/tracer_configurator.py
  tests/distro/test_distro.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Fix typechecking
  src/elasticotel/distro/config.py
Owners: @elastic/apm-agent-python

Fix and test default tracer_configurator
  pyproject.toml
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Address a macroscopeapp review
  src/elasticotel/distro/config.py
  src/elasticotel/sdk/trace/tracer_configurator.py
Owners: @elastic/apm-agent-python

Add the tracers names for disable_instrumentations
  docs/reference/edot-python/configuration.md
  docs/reference/edot-python/supported-technologies.md
Owners: @elastic/ingest-docs

Fix comparison of rules
  src/elasticotel/distro/config.py
  src/elasticotel/sdk/trace/tracer_configurator.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Improve debug log
  src/elasticotel/distro/config.py
Owners: @elastic/apm-agent-python

Guard against unexpected tracerprovider
  src/elasticotel/distro/config.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

central config: hande disable_instrumentations (#510)
  docs/reference/edot-python/configuration.md
  docs/reference/edot-python/supported-technologies.md
  pyproject.toml
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/elasticotel/sdk/trace/__init__.py
  src/elasticotel/sdk/trace/tracer_configurator.py
  tests/distro/test_distro.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

.github/CODEOWNERS:

*  @elastic/apm-agent-python
/.github/actions/  @elastic/apm-agent-python @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-python @elastic/observablt-ci
*.md @elastic/ingest-docs 
/docs/ @elastic/ingest-docs
