Repository elastic/elastic-otel-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

Fix CI
  .github/workflows/ci.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

Add distro config and opamp_handler tests and rework resource detection
  src/elasticotel/distro/__init__.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Add docs CI files
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

Edit toc
  docs/release-notes/toc.yml
Owners: @elastic/ingest-docs

Add docs CI files (#331)
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
  docs/release-notes/toc.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

Automatically add /v1/opamp to opamp endpoint if path not provided
  src/elasticotel/distro/__init__.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Move shebang at top
  scripts/opamp_proto_codegen.sh
Owners: @elastic/apm-agent-python

Don't send deployment.environment.name if it is not set
  src/elasticotel/distro/__init__.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Always serialize capabilities
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/messages.py
Owners: @elastic/apm-agent-python

Pass the client to the opamp message handler
  src/elasticotel/distro/config.py
  src/opentelemetry/_opamp/agent.py
  tests/distro/test_distro.py
  tests/opamp/test_agent.py
Owners: @elastic/apm-agent-python

Fix typecheck
  src/opentelemetry/_opamp/agent.py
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/messages.py
  src/opentelemetry/_opamp/transport/base.py
  src/opentelemetry/_opamp/transport/requests.py
Owners: @elastic/apm-agent-python

Add OpAMP agent (#320)
  .github/workflows/ci.yml
  dev-requirements.txt
  opamp-gen-requirements.txt
  pyproject.toml
  scripts/opamp_proto_codegen.sh
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  src/elasticotel/distro/environment_variables.py
  src/opentelemetry/_opamp/README.md
  src/opentelemetry/_opamp/__init__.py
  src/opentelemetry/_opamp/agent.py
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/exceptions.py
  src/opentelemetry/_opamp/messages.py
  src/opentelemetry/_opamp/proto/anyvalue_pb2.py
  src/opentelemetry/_opamp/proto/anyvalue_pb2.pyi
  src/opentelemetry/_opamp/proto/opamp_pb2.py
  src/opentelemetry/_opamp/proto/opamp_pb2.pyi
  src/opentelemetry/_opamp/transport/base.py
  src/opentelemetry/_opamp/transport/exceptions.py
  src/opentelemetry/_opamp/transport/requests.py
  src/opentelemetry/_opamp/version.py
  tests/distro/test_distro.py
  tests/opamp/cassettes/test_connection_heartbeat_disconnection.yaml
  tests/opamp/cassettes/test_with_server_not_responding.yaml
  tests/opamp/conftest.py
  tests/opamp/test_agent.py
  tests/opamp/test_client.py
  tests/opamp/test_e2e.py
  tests/opamp/transport/test_requests.py
Owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

CONTRIBUTING: add a note on updating release notes on release
  CONTRIBUTING.md
Owners: @elastic/ingest-docs

operator/Dockerfile: bump wolfi/chainguard-base hash to latest
  operator/Dockerfile
Owners: @elastic/apm-agent-python

Update license metadata for PEP-639
  pyproject.toml
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.4.0
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

docs/release-notes: fix github links
  docs/release-notes/index.md
Owners: @elastic/ingest-docs

Fix also 1.4.0 notes links
  docs/release-notes/index.md
Owners: @elastic/ingest-docs

update CHANGELOG and bump version to 1.4.0 (#333)
  CHANGELOG.md
  CONTRIBUTING.md
  docs/release-notes/index.md
  operator/Dockerfile
  pyproject.toml
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

opamp: ack remote config status changes
  src/elasticotel/distro/config.py
  src/opentelemetry/_opamp/agent.py
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/messages.py
  tests/distro/test_distro.py
  tests/opamp/cassettes/test_connection_remote_config_status_heartbeat_disconnection.yaml
  tests/opamp/cassettes/test_with_server_not_responding.yaml
  tests/opamp/test_agent.py
  tests/opamp/test_client.py
  tests/opamp/test_e2e.py
Owners: @elastic/apm-agent-python

Please pyright
  src/elasticotel/distro/config.py
  src/opentelemetry/_opamp/agent.py
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/messages.py
Owners: @elastic/apm-agent-python

Fix tests
  tests/opamp/test_agent.py
Owners: @elastic/apm-agent-python

opamp: ack remote config status changes (#340)
  src/elasticotel/distro/config.py
  src/opentelemetry/_opamp/agent.py
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/messages.py
  tests/distro/test_distro.py
  tests/opamp/cassettes/test_connection_remote_config_status_heartbeat_disconnection.yaml
  tests/opamp/cassettes/test_with_server_not_responding.yaml
  tests/opamp/test_agent.py
  tests/opamp/test_client.py
  tests/opamp/test_e2e.py
Owners: @elastic/apm-agent-python

opamp: lower logging severity of debug message
  src/opentelemetry/_opamp/agent.py
Owners: @elastic/apm-agent-python

opamp: lower logging severity of debug message (#342)
  src/opentelemetry/_opamp/agent.py
Owners: @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base to latest
  operator/Dockerfile
Owners: @elastic/apm-agent-python

distro: set default sampler to parentbased_traceidratio
  src/elasticotel/distro/__init__.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

distro: set default sampler to parentbased_traceidratio (#351)
  src/elasticotel/distro/__init__.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base to latest (#350)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.5.0
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Update index.md
  docs/release-notes/index.md
Owners: @elastic/ingest-docs

Update index.md
  docs/release-notes/index.md
Owners: @elastic/ingest-docs

update CHANGELOG and bump version to 1.5.0 (#352)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

distro: set OTEL_TRACES_SAMPLER_ARG to 1.0 by default
  src/elasticotel/distro/__init__.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

distro: set OTEL_TRACES_SAMPLER_ARG to 1.0 by default (#356)
  src/elasticotel/distro/__init__.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Bump OpenTelemetry to 1.35.0/0.56b0
  README.md
  dev-requirements.txt
  operator/requirements.txt
  pyproject.toml
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Bump OpenTelemetry to 1.35.0/0.56b0 (#360)
  README.md
  dev-requirements.txt
  operator/requirements.txt
  pyproject.toml
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

distro: enable containerid resource detector
  src/elasticotel/distro/__init__.py
  tests/distro/test_distro.py
  tests/integration/test_integration.py
Owners: @elastic/apm-agent-python

distro: override otlp exporters user agent headers
  src/elasticotel/distro/__init__.py
  tests/integration/test_integration.py
  tests/integration/utils.py
Owners: @elastic/apm-agent-python

distro: enable containerid resource detector (#361)
  src/elasticotel/distro/__init__.py
  tests/distro/test_distro.py
  tests/integration/test_integration.py
Owners: @elastic/apm-agent-python

.github/CODEOWNERS:

*  @elastic/apm-agent-python
/.github/actions/  @elastic/apm-agent-python @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-python @elastic/observablt-ci
*.md @elastic/ingest-docs 
/docs/ @elastic/ingest-docs
