Repository elastic/elastic-otel-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-python, @elastic/observablt-ci, @elastic/ingest-docs

.github/CODEOWNERS:

*  @elastic/apm-agent-python
/.github/actions/  @elastic/apm-agent-python @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-python @elastic/observablt-ci
*.md @elastic/ingest-docs 
/docs/ @elastic/ingest-docs

distro: override otlp exporters user agent headers
  src/elasticotel/distro/__init__.py
  tests/integration/test_integration.py
  tests/integration/utils.py
Owners: @elastic/apm-agent-python

Teach our integrations utils about http tests
  tests/integration/test_integration.py
  tests/integration/utils.py
Owners: @elastic/apm-agent-python

distro: override otlp exporters user agent headers (#363)
  src/elasticotel/distro/__init__.py
  tests/integration/test_integration.py
  tests/integration/utils.py
Owners: @elastic/apm-agent-python

distro: handle dynamic tracing sampling rate from config
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

Silence pyright warnings
  src/elasticotel/distro/config.py
Owners: @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base docker image
  operator/Dockerfile
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.6.0
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Update FIXME text
  src/elasticotel/distro/config.py
Owners: @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base docker image (#368)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.6.0 (#369)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

distro: handle dynamic tracing sampling rate from config (#367)
  src/elasticotel/distro/__init__.py
  src/elasticotel/distro/config.py
  tests/distro/test_distro.py
Owners: @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base image to latest
  operator/Dockerfile
Owners: @elastic/apm-agent-python

Bump OpenTelemetry to 1.36.0/0.57b0
  README.md
  dev-requirements.txt
  operator/requirements.txt
  pyproject.toml
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Bump OpenTelemetry to 1.36.0/0.57b0 (#373)
  README.md
  dev-requirements.txt
  operator/requirements.txt
  pyproject.toml
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base image to latest (#372)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

update CHANGELOG and bump version to 1.7.0
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

update CHANGELOG and bump version to 1.7.0 (#375)
  CHANGELOG.md
  docs/release-notes/index.md
  src/elasticotel/distro/version.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

operator/Dockerfile: bump chainguard-base to latest
  operator/Dockerfile
Owners: @elastic/apm-agent-python

Use major version on trusted actions for attest-build-provenance
  .github/workflows/release.yml
Owners: @elastic/apm-agent-python, @elastic/observablt-ci

operator/Dockerfile: bump chainguard-base to latest (#374)
  operator/Dockerfile
Owners: @elastic/apm-agent-python

opamp: suppress instrumentation for client requests
  src/opentelemetry/_opamp/client.py
  tests/integration/test_integration.py
Owners: @elastic/apm-agent-python

opamp: suppress instrumentation for client requests (#384)
  src/opentelemetry/_opamp/client.py
  tests/integration/test_integration.py
Owners: @elastic/apm-agent-python

Add docs
  .gitignore
  docs/docset.yml
  docs/reference/configuration.md
  docs/reference/index.md
  docs/reference/migration.md
  docs/reference/overhead.md
  docs/reference/setup/index.md
  docs/reference/setup/k8s.md
  docs/reference/setup/manual-instrumentation.md
  docs/reference/supported-technologies.md
  docs/reference/toc.yml
Owners: @elastic/apm-agent-python, @elastic/ingest-docs

Add crosslink to troubleshooting
  docs/reference/toc.yml
Owners: @elastic/ingest-docs

Update docs/reference/toc.yml
  docs/reference/toc.yml
Owners: @elastic/ingest-docs

Move files to folder
  docs/docset.yml
  docs/reference/edot-python/configuration.md
  docs/reference/edot-python/index.md
  docs/reference/edot-python/migration.md
  docs/reference/edot-python/overhead.md
  docs/reference/edot-python/setup/index.md
  docs/reference/edot-python/setup/k8s.md
  docs/reference/edot-python/setup/manual-instrumentation.md
  docs/reference/edot-python/supported-technologies.md
  docs/reference/edot-python/toc.yml
Owners: @elastic/ingest-docs

Add reference docs (#386)
  .gitignore
  docs/docset.yml
  docs/reference/edot-python/configuration.md
  docs/reference/edot-python/index.md
  docs/reference/edot-python/migration.md
  docs/reference/edot-python/overhead.md
  docs/reference/edot-python/setup/index.md
  docs/reference/edot-python/setup/k8s.md
  docs/reference/edot-python/setup/manual-instrumentation.md
  docs/reference/edot-python/supported-technologies.md
  docs/reference/edot-python/toc.yml
Owners: @elastic/apm-agent-python, @elastic/ingest-docs

Add relnotes xlink
  docs/docset.yml
  docs/reference/edot-python/toc.yml
Owners: @elastic/ingest-docs

Add relnotes xlink (#387)
  docs/docset.yml
  docs/reference/edot-python/toc.yml
Owners: @elastic/ingest-docs

Add some notes on how to record e2e tests
  tests/opamp/README.md
Owners: @elastic/ingest-docs

config: add handling of ReportFullState ServerToAgent flag
  src/elasticotel/distro/config.py
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/messages.py
  tests/distro/test_distro.py
  tests/opamp/test_client.py
  tests/opamp/test_e2e.py
Owners: @elastic/apm-agent-python

Add missing cassette
  tests/opamp/cassettes/test_agent_send_full_state_when_asked.yaml
Owners: @elastic/apm-agent-python

Modifies H1 title for better SEO
  docs/reference/edot-python/setup/manual-instrumentation.md
Owners: @elastic/ingest-docs

Apply suggestions from code review
  src/elasticotel/distro/config.py
  tests/opamp/README.md
Owners: @elastic/apm-agent-python, @elastic/ingest-docs

config: add handling of ReportFullState ServerToAgent flag (#388)
  src/elasticotel/distro/config.py
  src/opentelemetry/_opamp/client.py
  src/opentelemetry/_opamp/messages.py
  tests/distro/test_distro.py
  tests/opamp/README.md
  tests/opamp/cassettes/test_agent_send_full_state_when_asked.yaml
  tests/opamp/test_client.py
  tests/opamp/test_e2e.py
Owners: @elastic/apm-agent-python, @elastic/ingest-docs

Bump OpenTelemetry SDK to 1.37.0/0.58b0
  README.md
  dev-requirements.txt
  operator/requirements.txt
  pyproject.toml
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Handle new cpython metrics
  src/elasticotel/distro/__init__.py
  tests/distro/test_distro.py
  tests/integration/test_integration.py
Owners: @elastic/apm-agent-python

Remove TODO after 1.37.0 rebase
  src/elasticotel/distro/__init__.py
Owners: @elastic/apm-agent-python

Bump OpenTelemetry SDK to 1.37.0/0.58b0 (#389)
  README.md
  dev-requirements.txt
  operator/requirements.txt
  pyproject.toml
  src/elasticotel/distro/__init__.py
  tests/distro/test_distro.py
  tests/integration/test_integration.py
Owners: @elastic/ingest-docs, @elastic/apm-agent-python

Modifies H1 title for better SEO (#390)
  docs/reference/edot-python/setup/manual-instrumentation.md
Owners: @elastic/ingest-docs
